* {
    box-sizing: border-box;
}

body {
    background-color: black;
    max-width: 1500px;
    width: 100%;
    padding: 20px 40px;
}

.header {
    display: flex;
    gap: 20px;
    height: 60px;
    align-items: center;
}

.wp-input {
    height: 40px;
    width: 400px;
}
.container-input{
    min-height: 100px;
}
.input-search {
    height: 40px;
    width: 100%;
}

.btn-search {
    height: 40px;
    width: 100px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid;
}

.wp-input-body {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wp-input-body>.wp-input {
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-check{
    display: flex;
    align-items: center;
}

input[type="date"] {
    background: white;
    height: 40px;
    width: 48%;
    border: 1px solid;
    outline: none;
    padding: auto 4px;
}

.label-checkbox {
    color: white;
}

.title {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.wp-table {
    width: 100%;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
table td {
    padding: 8px;
    border: 1px solid black;
}

th {
    color: white !important;
}

td {
    background-color: white !important;
}

label {
    margin-top: 10px;
    color: white !important;
    display: block;
}

/* input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
  }
  
  input[type="date"]::-webkit-datetime-edit-year-field{
    position: absolute !important;
    border-left:1px solid #8c8c8c;
    padding: 2px;
    color:#000;
    left: 56px;
  }
  
  input[type="date"]::-webkit-datetime-edit-month-field{
    position: absolute !important;
    border-left:1px solid #8c8c8c;
    padding: 2px;
    color:#000;
    left: 26px;
  }
  
  
  input[type="date"]::-webkit-datetime-edit-day-field{
    position: absolute !important;
    color:#000;
    padding: 2px;
    left: 4px;
    
  } */